@tailwind base;
@tailwind components;
@tailwind utilities;



.page-container {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
;
}

.navigation {
  background-color: #4267B2;
  padding: 10px;
  margin-bottom: 20px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-right: 10px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.navigation a:hover {
  background-color: #fff;
  color: #4267B2;
}

.table-container {
  margin-top: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
 
}